@import "tailwindcss";

@layer base {
  html {
    font-size: 16.5px;
  }
  body {
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}
